<div class="container-fluid">
    <div class="head">
        <div class="profile">
            <img src="../image/man.png" alt="Deepak Keshari" srcset="" height="200px;">
        </div>
        <div class="name">
            <h2>Deepak Keshari</h2>
            <h6>Software Developer</h6>
        </div>
        <div class="social-media">
            <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="linkedin.com/in/deepak-keshari-a666a520a" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="https://github.com/deepak4112000" role="button"><i
                    class="fab fa-github"></i></a>
        </div>
    </div>
    <div class="about" id="about">
        <h2 class="title">About Me</h2>
        <p>
            Hey</br>
            This is Deepak Keshari.</br>
            I have been working as a Software Developer for over 1.5 years. My experience has been in the development of web-based applications and software programs. My programming skills include object-oriented programming (OOP), JavaScript, HTML/CSS,PHP and Core Python. I have also developed a few mobile applications and have experience in developing websites.

I have a passion for software development and I am always learning and exploring new technologies. I strive to stay up-to-date in the ever-changing software development world. I also have experience in software product design, user experience design, and database design. My goal is to create software that is easy to use, efficient, and secure.

I am an avid problem solver and I enjoy working with a team to tackle challenging problems. I take pride in my work and I am always looking for ways to improve a product. I am comfortable working in a fast-paced environment and I am eager to learn new technologies.
        </p>
    </div>
    <div class="portfilio" id="portfilio">
        <h1>Portfolio</h1>
    </div>
    <div class="project" id="Project">
        <div class="container">
            <h4>My Project</h4>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:10px">
                    <div class="card">
                        <img src="../image/Number-Series.jpg" style="height: 205px;" class="card-img-top" alt="...">
                        <div class="card-body" style="height: 280px;">
                            <h5 class="card-title">Number Series Game</h5>
                            <p class="card-text">This is my first project. Of which I build due to BCA.That is Build porily in C language.
                             In This I used some Libary of C. Like dos.h, graphics.h and some basic libary.dos.h used for Sound and graphic.h userd for graphic. 
                            </p>
                            <a href="https://github.com/deepak4112000/serial-number-game-/blob/log/GSTART.H" class="btn btn-primary">Go Code</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:10px">
                    <div class="card">
                        <img src="../image/OIP (3).jpeg" style="height: 205px;" class="card-img-top" alt="...">
                        <div class="card-body" style="height: 280px;">
                            <h5 class="card-title">Banking Site</h5>
                            <p class="card-text">Due to Internship i Build this site. In which I used for build this HTML, CSS, JAVASRIPT, Mysql AND PHP.
                                In this site only few thing is Dynamic.
                            </p>
                            <a href="javascript:void(0)" class="btn btn-primary">Go Code</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:10px">
                    <div class="card">
                        <img src="../image/download.jpeg"  style="height: 205px;"class="card-img-top" alt="...">
                        <div class="card-body" style="height: 280px;">
                            <h5 class="card-title">Portfolio site</h5>
                            <p class="card-text">I build portfolio site using framework of NodeJs (Express Js) and Templates Engine (Handlebars).</p>
                            <a href="https://github.com/deepak4112000/" class="btn btn-primary">Go Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline_main" id="timeline">
        {{!-- <h4>TimeLine</h4> --}}
        <div class="ag-timeline-block">
            <div class="ag-timeline_title-box">
                <div class="ag-timeline_tagline">Timeline</div>
            </div>
            <section class="ag-section">
                <div class="ag-format-container">
                    <div class="js-timeline ag-timeline">
                        <div class="js-timeline_line ag-timeline_line">
                            <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
                        </div>
                        <div class="ag-timeline_list">
                            
                            <div class="js-timeline_item ag-timeline_item">
                                <div class="ag-timeline-card_box">
                                    <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                        <div class="ag-timeline-card_point">Now</div>
                                    </div>
                                    <div class="ag-timeline-card_meta-box">
                                        <div class="ag-timeline-card_meta">Software Developer</div>
                                    </div>
                                </div>
                                <div class="ag-timeline-card_item">
                                    <div class="ag-timeline-card_inner">
                                        <div class="ag-timeline-card_img-box">
                                            <img src="../image/OIP (2).jpeg"
                                                class="ag-timeline-card_img" width="640" height="360" />
                                        </div>
                                        <div class="ag-timeline-card_info">
                                            <div class="ag-timeline-card_title">Software Developer</div>
                                            <div class="ag-timeline-card_desc">
                                                This time I'm working in Vitefintech PVT LTD as Software Developer.I am working in this Company from 2021 to now a days.
                                               In this company I working on BBPs and Recharge, Legal Service and Airline Booking Modules.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ag-timeline-card_arrow"></div>
                                </div>
                            </div>

                            <div class="js-timeline_item ag-timeline_item">
                                <div class="ag-timeline-card_box">
                                    <div class="ag-timeline-card_meta-box">
                                        <div class="ag-timeline-card_meta">MCA</div>
                                    </div>
                                    <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                        <div class="ag-timeline-card_point">2021</div>
                                    </div>
                                </div>
                                <div class="ag-timeline-card_item">
                                    <div class="ag-timeline-card_inner">
                                        <div class="ag-timeline-card_img-box">
                                            <img src="../image/OIP (1).jpeg"
                                                class="ag-timeline-card_img" width="640" height="360" alt="" />
                                        </div>
                                        <div class="ag-timeline-card_info">
                                            <div class="ag-timeline-card_title">Master of Computer Application</div>
                                            <div class="ag-timeline-card_desc">
                                                This time I'm pursuing MCA From AKTU (Dr. A.P.J Adul Kalam Technical University Lucknow). This Time I'm in 3rd Semester.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ag-timeline-card_arrow"></div>
                                </div>
                            </div>

                            <div class="js-timeline_item ag-timeline_item">
                                <div class="ag-timeline-card_box">
                                    <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                        <div class="ag-timeline-card_point">2020</div>
                                    </div>
                                    <div class="ag-timeline-card_meta-box">
                                        <div class="ag-timeline-card_meta">Internship</div>
                                    </div>
                                </div>
                                <div class="ag-timeline-card_item">
                                    <div class="ag-timeline-card_inner">
                                        <div class="ag-timeline-card_img-box">
                                            <img src="../image/15-152495_image-company-building-png.png"
                                                class="ag-timeline-card_img" width="640" height="360" alt="" />
                                        </div>
                                        <div class="ag-timeline-card_info">
                                            <div class="ag-timeline-card_title">Internship as PHP developer</div>
                                            <div class="ag-timeline-card_desc">
                                               I do Internship as PHP developer from RectorSol PVT LTD Rathyatara Varanasi in 2020.
                                              I work on there on commerce Website and LMS (Learning management System) etc.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ag-timeline-card_arrow"></div>
                                </div>
                            </div>

                            <div class="js-timeline_item ag-timeline_item">
                                <div class="ag-timeline-card_box">
                                    <div class="ag-timeline-card_meta-box">
                                        <div class="ag-timeline-card_meta">BCA</div>
                                    </div>
                                    <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                        <div class="ag-timeline-card_point">2017</div>
                                    </div>
                                </div>
                                <div class="ag-timeline-card_item">
                                    <div class="ag-timeline-card_inner">
                                        <div class="ag-timeline-card_img-box">
                                            <img src="../image/BCA.jpg"
                                                class="ag-timeline-card_img" width="640" height="360" alt="" />
                                        </div>
                                        <div class="ag-timeline-card_info">
                                            <div class="ag-timeline-card_title">Bachelor of Computer Appliction</div>
                                            <div class="ag-timeline-card_desc">
                                               I completed my BCA Course From Sai Nath University Jharkand Rachi. I join this course in 
                                                2017 and completed it in 2020 with the 75% marks.   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ag-timeline-card_arrow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>